# -*- coding: utf-8 -*-
#
# Copyright (C) 2023-2025 Graz University of Technology.
#
# Invenio-i18n is free software; you can redistribute it and/or modify
# it under the terms of the MIT License; see LICENSE file for more details.

name: "i18n: push translations (reusable workflow)"
on:
  workflow_call:
    inputs:
      extract-backend:
        required: true
        type: boolean
        default: true
      frontend-package-path:
        required: false
        type: string
    secrets:
      TRANSIFEX_TOKEN:
        required: true

jobs:
  i18n-extract:
    runs-on: ubuntu-24.04
    env:
      PYTHON-VERSION: 3.12
      NODE-VERSION: 22
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # setup python
      - name: Set up Python ${{ env.PYTHON-VERSION }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON-VERSION }}

      # install dependencies
      - name: Install dependencies
        run: |
          # python 3.12 doesn't have it anymore out of the box
          pip install setuptools
          pip install -e ".[all]"

      # extract backend messages
      - name: Extract backend messages
        if: ${{ inputs.extract-backend }}
        run: |
          python setup.py extract_messages

      # setup node
      - name: Setup node
        if: ${{ inputs.frontend-package-path != '' }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE-VERSION }}

      # extract frontend messages
      - name: Extract frontend messages
        if: ${{ inputs.frontend-package-path != '' }}
        working-directory: ./${{ inputs.frontend-package-path }}
        # installing from package-lock.json
        run: |
          npm ci
          npm run extract_messages

      # Push only source file to transifex
      - name: Push source file using transifex client
        uses: transifex/cli-action@v2
        with:
          token: ${{ secrets.TRANSIFEX_TOKEN }}
          args: push -s

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v6
        with:
          commit-message: i18n:push translations
          title: i18n:push translations
          body: i18n:push translations
          branch: 101-translations-push # name of branch which PR is created from
          delete-branch: true # delete branch once merged,closed
